body{
background-color: blueviolet;
color: #fff;
font: normal 15pt Arial;
text-align: center;
}

header{
text-align: center;
color: #fff;
}

section{
    background-color: #fff;
    color: #000;
    width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 2px 20px 0px #2f0952;
}
div#res{
    padding-bottom:15px;
}
footer{
padding: 10px;
font-style: italic;
}